@page "/"
@page "/todolist"
@using Blaztore.Examples.Wasm.Pages.TodoList.Components

<PageTitle>Todo list</PageTitle>

<h1>Todo list</h1>

<TodoListComponent></TodoListComponent>

<TaskCreationComponent></TaskCreationComponent>

@code {
}