@page "/counters"

<h1>Counters</h1>

<div class="counters">
    <CounterComponent></CounterComponent>
    <CounterComponent></CounterComponent>
</div>

<style>
    .counters {
        display: flex;
    }
</style>

@code {
    
}